<%- include('header.ejs') %>
<div class="col-6 m-auto">
    <h1>Login form</h1>
    <form action="/login" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Enter User_Name</label>
            <input type="text" class="form-control" name="username" id="username">
        </div>
        <div class="mb-3">
            <label for="password"class="form-label">Enter password</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
        
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
    
</body>
</html>